{{#if user}}
  {{#paper-subheader}}Devices{{/paper-subheader}}
  {{#each devices as |device|}}
    {{#menu.item}}
      {{device-paper-item device=device onClick=(route-action "transitionTo" "devices.show" device.id)}}
    {{/menu.item}}
  {{/each}}

  {{#menu.item}}
    {{#paper-item class="md-2-line"  onClick=(route-action "transitionTo" "devices.new")}}
      {{paper-icon "add" class="md-avatar-icon"}}
      <div class="md-list-item-text">
        <p>Add a device</p>
      </div>
    {{/paper-item}}
  {{/menu.item}}

  {{!-- {{#paper-subheader}}Feedback{{/paper-subheader}} --}}
  {{paper-divider}}

  {{#feedback-menu-item
    menu=menu
    showDialog=false
    title="Share a review on Amazon?"
    body="Your thoughts mean everything to us!"
    confirmLabel="Post A Review"
    onConfirm=(route-action "hopTo" hrefForAmazon)}}
    <p>Happy?</p>
  {{/feedback-menu-item}}

  {{#feedback-menu-item
    menu=menu
    showDialog=false
    title="💁 We're here to help!"
    body="Visit the website to see instructions, tutorials, our FAQ and excellent customer service."
    confirmLabel="Goto Website"
    onConfirm=(route-action "hopTo" hrefForAmazon)
    cancelLabel="Nevermind"
  }}
    <p>Disappointed?</p>
  {{/feedback-menu-item}}
{{/if}}
