{{#paper-form classNames="flex-xs-100 flex-66" onSubmit=(action "createDevice") as |form|}}
  <div class="device-form-inputs layout-row">
    <div class="layout-column flex-100">
      {{#form.select
        disabled=disableModelSelect
        label="Model"
        options=deviceModels
        selected=selectedDeviceModel
        required=true
        errorMessages=(hash
         required="Model is required."
        )
        onChange=(action 'selectDeviceModel') as |model|}}
          {{model.title}}
      {{/form.select}}
      
      {{form.input
          label="Name"
          icon="title"
          value=name
          onChange=(action (mut name))
          required=true
          maxlength="64"
          errorMessages=(hash
           required="Name is required."
           maxlength="Name is too long."
          )
      }}

      {{form.input
          label="Serial Number"
          icon="subtitles"
          value=serial
          onChange=(action (mut serial))
          required=true
          maxlength="32"
          errorMessages=(hash
           required="Serial Number is required."
           maxlength="Serial Number must be less than 32 characters."
          )
      }}
    </div>
  </div>

  <div class="layout-row layout-align-end device-form-actions">
    {{#paper-button raised=true onClick=onCancel}}Cancel{{/paper-button}}
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
  </div>
{{/paper-form}}
