<div class="container">
  <h1>products</h1>

  <div class="row">
    {{#each products as |product|}}
      <div class="col">
        <div class="card" style="width: 18rem;">
          {{#link-to "products.view" product.id}}<img class="card-img-top" src="/assets/images/pod-1.jpg" alt="Card image cap">{{/link-to}}
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            {{#link-to "products.view" product.id}}View{{/link-to}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="col">
        <div class="card bg-faded">
          no products.
        </div>
      </div>
    {{/each}}
  </div>
</div>
