body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flex-md-equal > * {
  flex: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */
   background-color: light-gray;   /* add custom arrow */
   padding: 0.6rem 1rem;
}
