html {
  width: 100%;
  height: 100%;
  display: table;
}

body {
  width:100%;
  display:table-cell;
}

html, body {
  margin: 0px;
  padding: 0px;
}

body > [class="ember-view"] {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#ember-basic-dropdown-wormhole {
  z-index: 100;
  position: relative;
}

md-backdrop.md-opaque.md-default-theme, md-backdrop .md-opaque {
  z-index: 100;
}

.md-dialog-container {
  z-index: 100;
}

.md-subheader.md-default-theme, .md-subheader {
  background-color: grey;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
