.hk-button-sm--primary, .hk-button--primary {
  background: linear-gradient(135deg,#00cfd4,#61c7bd)
}

// #79589f => #008080
.purple {
  color: #008080;
}

// #a996c0 => #009999
.b--light-purple {
  border-color: #61c7bd;
}
