.thermostat-target-temperature-input {
  margin: 0;
  padding: 0;
  width: 100%;

  font-size: 2rem;
  font-weight: bold;
  display: none;

  > .md-errors-spacer {
    display: none;
  }
}

.thermostat-controls-wrapper {
  width: 100%;
}

.thermostat-controls {
  margin-bottom: 1rem;
  width: 100%;

  > md-input-container > input {
    text-align: center !important;
    background-image: none !important;
  }
}

.thermostat-target-temperature-slider {
  height: 38px;
}

.thermostat-target-temperature {
  position: relative;
  font-size: 14rem;
  margin: 0;
  color: color('grey', '800');

  &::after {
    content: "º";
    position: absolute;
    font-size: 7rem;
  }
}

.thermostat-current-temperature {
  position: relative;
  &:after {
    content: "º";
    position: absolute;
  }
}

.thermostat-ui {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.thermostat-weather-icon {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}



.heat md-icon {
  color: color('amber', '800');
}

.cool md-icon {
  color: color('light-blue', '500');
}

.fan md-icon {
  color: color('grey', '500');
}

@keyframes glow {
  to { text-shadow: 0 0 0px color('amber', '800'); }
}

@keyframes glow-cool {
  to { text-shadow: 0 0 20px color('light-blue', '500'); }
}

.cool .thermostat-target-temperature {
  animation: glow-cool 1s infinite alternate;
}

.heat .thermostat-target-temperature {
  animation: glow-heat 1s infinite alternate;
}
