<div class="row">
  <div class="col-3">
    Creativity
  </div>
  <div class="col-9">
    <progress value="90" max="100">90%</progress>
  </div>
</div>

<div class="row">
  <div class="col-3">
    Euphoric
  </div>
  <div class="col-9">
    <progress value="97" max="100">97%</progress>
  </div>
</div>

<div class="row">
  <div class="col-3">
    Happy
  </div>
  <div class="col-9">
    <progress value="92" max="100">92%</progress>
  </div>
</div>

<div class="row">
  <div class="col-3">
    Relaxed
  </div>
  <div class="col-9">
    <progress value="83" max="100">83%</progress>
  </div>
</div>

<div class="row">
  <div class="col-3">
    Uplifted
  </div>
  <div class="col-9">
    <progress value="74" max="100">74%</progress>
  </div>
</div>
