.carousel-body {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  opacity: 1;
  transition: opacity .300s ease-in-out;

  img {
    width: 100%;
  }

  &.slide-out {
    opacity: 0.5;
  }

  &.right.slide-in {
    left: 0;
  }

  &.left.slide-in {
    right: 0;
  }
}

.carousel-container {
  button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    border: 0;
    font-size: 28px;

    &:first-of-type {
      left: 10px;
    }

    &:last-of-type {
      right: 10px;
    }
  }
}

.carousel-item {
  position: relative;
  transition: all 0.4s ease-in-out;
}


.carousel-item.left, .carousel-item.right {
  display: block;
}

.carousel-item.left, .carousel-item.right {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-item.left {
  left: 100%;
}

.carousel-item.right {
  left: -100%;
}


.carousel-item.active.left.slide-out {
  left: -100%;
}

.carousel-item.active.right.slide-out {
  left: 100%;
}


.carousel-item.left.slide-in, .carousel-item.right.slide-in {
  left: 0;
}

.carousel-item.active {
  position: relative;
  left: 0;
}
