.media-icon {
  color: $primary;
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: lighten($primary, 35%);
  font-size: 28px;
  margin: 20px auto;

  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
}
