.wikiwiki-search {
  input {
    max-width: 375px;
  }
}

.wikiwiki-search-results {
  top: 72px;
  background-color: white;
  left: 0;
  right: 0;
  max-height: calc(100vh - 80px);
  width: 375px;
  overflow-y: scroll;
}

.wikiwiki-search-results li:not(:first-child){
  margin-top: 2px;
}

.wikiwiki-search-results li:not(:last){
  margin-bottom: 2px;
}
