<h1>{{model.name}}</h1>
<div class="container x-form">
  <div class="row">
    <div class="col">
      {{x-input value=model.name placeholder="brand name" label="name" type="input"}}
    </div>
  </div>
</div>

<button class="btn btn-primary" type="button" {{action (route-action "saveRecord" model)}}>Save</button>
