<h2>Browse by brand</h2>

<div class="row">
  {{#each brands as |brand|}}
    <div class="col-sm-4 col-6 col-md-3">
      {{#link-to "browse.products" (query-params brand=brand.name) class="cursor-pointer" tagName="div"}}
        <div class="card mb-4 box-shadow text-center">
          {{media-icon fa="image"}}
          <div class="card-body">
            <div class="card-title">
              {{brand.name}}
              <div class="text-muted">
                <small>5 item(s)</small>
              </div>
            </div>
          </div>
        </div>
      {{/link-to}}
    </div>
  {{else}}
    <div class="col">
      <div class="card bg-faded">
        no brands.
      </div>
    </div>
  {{/each}}
</div>
