<div class="bg-silver ph3 pv3 lh-solid">
  <div class="bg-white shadow-outer-1 br2 flex flex-column items-center pv3">
    <img class="br-100 w3 h3" src="https://allbud.s3.amazonaws.com/media/feature/flower/double-dawg.jpg" alt="">
    <div class="f4 mt2 mb1">{{product.name}}</div>
    <div class="gray">{{product.price}}</div>
    <div class="flex mt2">
      <button href="#" class="hk-button-sm--primary mh1">Add to Cart</button>
      <a href="#" class="link purple ph2 pv1 ba b--light-purple br1 mh1">Subscribe and Save</a>
    </div>
  </div>
</div>
