<div class="container">
  <h3>Admin Links</h3>
  <ul>
    <li>{{#link-to "authenticated.cms.admin.brands"}}manage brands{{/link-to}}</li>
    <li>{{#link-to "authenticated.cms.admin.products"}}manage products{{/link-to}}</li>
    <li>{{#link-to "authenticated.cms.admin.vendors"}}manage vendors{{/link-to}}</li>
  </ul>
  <hr>

  {{outlet}}
</div>
