<div class="container-fluid">
  <div class="row">
    <nav class="col-md-3 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            {{#link-to "authenticated.cms.index" class="nav-link"}}
              <i class="fa fa-bar-chart"></i>
              dashboard
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to "authenticated.cms.admin.brands" class="nav-link"}}
              <i class="fa fa-pie-chart"></i>
              manage brands
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to "authenticated.cms.admin.products" class="nav-link"}}
              <i class="fa fa-bar-chart"></i>
              manage products
            {{/link-to}}
          </li>
          <li class="nav-item">
            {{#link-to "authenticated.cms.admin.vendors" class="nav-link"}}
              <i class="fa fa-question"></i>
              manage vendors
            {{/link-to}}
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      {{outlet}}
    </main>
  </div>
</div>
