<header class="mt-3 mb-5">
  <h2 class="shadow-outer-3 ma0 pa2 pt5">#products</h2>
</header>

<ul class="list-items ma0 pa0">
  {{#each products as |product|}}
    {{#link-to "browse.products.view" product.id tagName="div"}}
      {{list-item-product product=product}}
    {{/link-to}}
  {{/each}}
</ul>
