<div class="flex items-stretch">
  {{#link-to "home" class="no-underline white logo flex flex-shrink-0 items-center justify-center"}}
    <h1>#</h1>
  {{/link-to}}
</div>

{{wikiwiki-search
  items=searchableItems
  class="ph2 w-100 justify-center"}}
