<h2>new vendor</h2>
<p>A vendor is a company that sells products made by a brand.</p>

<div class="container x-form">
  {{location-form record=newVendor}}

  <div class="row">
    <div class="col">
      <label>products</label>
      {{#x-select value=newVendor.products multiple=true as |xs|}}
        {{#each products as |product|}}
          {{#xs.option value=product}}{{product.name}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>
</div>

<button class="btn btn-primary" type="button" {{action "saveVendor" newVendor}}>Save</button>

<hr>

<h2>vendors</h2>
{{#each vendors as |vendor|}}
  <li>{{#link-to 'authenticated.cms.vendor' vendor.id}}{{vendor.name}}{{/link-to}}</li>
{{/each}}
