<div class="text-align-center">
  <img src="/assets/images/cromulon.png" alt="" class="cromulon">
  <h3>SHOW ME WHAT YOU GOT</h3>
  {{#paper-button raised=true primary=true onClick=(route-action "transitionTo" "devices.new")}}Add device{{/paper-button}}
</div>
