<div class="container">
  <div class="row">
    <div class="col">
      {{input
          type="text"
          value=query
          key-up='didPressKey'
          id="search-field"
          class="d-flex"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"}}
    </div>
    {{yield}}
  </div>

  {{!-- temporary placeholder for search results --}}
  <div class="row">
    <ul>
      {{#each filteredResults as |result|}}
        <li {{action 'didClickResult' result}}>
          {{#link-to result.viewRoute result.id}}{{result.name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
