<div class="container">
  <div class="row">
    <div class="col">
      {{input
          type="text"
          value=query
          key-up='didPressKey'
          class="d-flex"
          autocomplete="off"
          autocorrect="off"
          autocapitalize="off"
          spellcheck="false"}}
    </div>
  </div>

{{!-- temporary placeholder for search results --}}
  <div class="row">
    <ul>
      {{#each filteredResults as |result|}}
        <li>{{result.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>
